/*--- Main ---*/
.main {
    background-image: url(./images/paris-france.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgba(180, 104, 29, 0.806);
    background-blend-mode: multiply;
    background-attachment: fixed;
}

.name {
    font-size: 75px;
    color: silver;
    text-align: center;
}

.description {
    font-size: 30px;
    color: silver;
    padding-top: 25px;
}

.main-accent {
    color: orange;
}

.social {
    color: orange;
    border-radius: 50%;
    margin: 30px auto;
}

.social:hover {
    color: white;
}

/*--- About me ----*/
.section-1 {
    background-color: black;
    padding-top: 150px;
    padding-bottom: 150px;
}

.about {
    color: orange;
}

#about h1 {
    color: silver;
    font-size: 55px;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: orange solid 1px;
}

#about p {
    font-size: 25px;
    text-align: center;
}

/*--- Projects ---*/
.section-2 {
    background-color: rgb(203, 131, 37);
    padding-top: 50px;
    padding-bottom: 50px;
}

#projects h1 {
    color: black;
    font-size: 55px;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: black solid 1px;
}

.portfolio-sub-text {
    color: black;
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: black solid 1px;
}

/*-- Contact --*/
.section-3 {
    text-align: center;
    background-color: rgb(8, 5, 0);
    padding-top: 50px;
    padding-bottom: 50px;
}

#contact h1 {
    color: silver;
    font-size: 55px;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: silver solid 1px;
}

.contact-section-1 {
    font-size: 25px;
}

.contact-section-2 {
    font-size: 30px;
}